/* people-table.component.css */
h2 {
  color: white;
}

table {
  color: white;
  width: 100%;
  border-collapse: collapse; /* Unisce i bordi delle celle */
  background-color: rgba(0, 0, 0, 0.57);
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd; /* Bordo grigio chiaro per le celle */
}

.add-button, .edit-button, .save-button, .cancel-button, .delete-button, .logout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover per i pulsanti comuni */
.add-button:hover, .edit-button:hover, .save-button:hover, .cancel-button:hover, .logout-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Pulsante Aggiungi */
.add-button {
  background-color: #28a745; /* Verde */
  margin-bottom: 15px; /* Margine inferiore per separare dalla tabella */
}

.add-button:hover {
  background-color: #218838; /* Verde scuro al hover */
}

/* Pulsante Elimina */
.delete-button {
  background-color: #b0009c; /* Rosso */
}

.delete-button:hover {
  background-color: #e500ac;
  transform: translateY(-2px);
}

/* Pulsante Salva */
.save-button {
  background-color: #105e21f1;
}

.save-button:hover {
  background-color: #199734f1;
  transform: translateY(-2px);
}

/* Pulsante Annulla */
.cancel-button {
  background-color: #121212;
}

.cancel-button:hover {
  background-color: #ff00008d;
  transform: translateY(-2px);
}

/* Margini per separare i pulsanti Modifica ed Elimina */
.edit-button {
  margin-right: 10px; /* Aggiungi margine destro per separare */
}

/* Margini per i pulsanti Salva e Annulla nella modalità Aggiungi */
.save-button,
.cancel-button {
  margin-right: 10px; /* Spazio tra Salva e Annulla */
}

/* Margine superiore per separare i pulsanti Aggiungi dalla tabella */
.logout-button {
  margin-top: 20px;
}
